html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #272822;
	color: #F8F8F2;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}

/** POST **/
.post .author {
	float: left;
}

.post .date_add {
	text-align: right;
}

/** FLEXSLIDER **/

.flex-active-slide {
	color: black;
}

.flexslider .post {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.flex-control-paging li a {
	background: #ccc;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover {
	background: #fff;
}

/* La valeur par défaut (40px) n'est pas suffisante */
.flex-direction-nav a {
	height: 50px;
}

/* SCROLL */
.no-more-post {
	text-align: center;
	font-size: 18px;
	color: cadetblue;
	margin-top: 20px;
}

.load-more {
	font-size: 48px;
}

/* LISTE AVEC RECHERCHE SURLIGNEE */
.highlight {
	background-color: yellow;
}

/* TYPEAHEAD */
.suggestion {
	background-color: whitesmoke;
	color: black;
	opacity: 0.9;
	border-bottom: 1px solid #aaa;
}

#post-finder .twitter-typeahead {
	width: 100%;
}

#post-finder .tt-menu {
	width: 100%;
	border-bottom: solid 1px black;
}

